# Default ignored files
/workspace.xml

# .IDEA Extension
.idea/

# AWS Creds
awscli-bundle

# DS_STORE Files
.DS_Store

# Node Modules
node_modules/

# Package Files
package.json
package-lock.json

# Profile Picture
images/*