h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 1%;
    color: #cccccc;
}

body {
    background-color:white;
}

p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #cccccc;
}

ul {
    text-align: center;
    padding: 0;
}

li {
    width: 10%;
    display: inline-block;
    vertical-align: top;
}

a.resume:link {
    color: #323232;
}

a.resume:visited {
    color: #cccccc;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding-top: 0;
}

.round_icon{
    height: 100px;
    width: 100px;
}